<div bsModal #modalCreateCategory="bs-modal" class="modal fade modal-small modal-delete-product" id="modalCreateCategory">
	<div class="modal-dialog modal-sm">
        <div class="modal-content" style="background: #f2f2f2;">
            <div class="modal-body text-center">
                <h3 class="text-center">Добавить новую категорию</h3>
                <div class="w-100 d-flex justify-content-center flex-direction-column">
                    <div class="">
                        <label class="label-group">Выберите товарную группу</label>			
                        <div class="dropdown navbar-d mb-3" dropdown>
                            <button dropdownToggle class="dropdown-btn navbar-d-btn btn-space-right" style="width: 220px">
                                <span *ngIf="group !== null">{{group.name}}</span>					
                                <span *ngIf="group == null">Товарная группа</span>					
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu navbar-d-menu">
                                <li *ngFor="let g of companyCategories">
                                    <a (click)="selectGroup(g.category)">{{g.category.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="text" class="mm-input mb-3 mr-3" placeholder="Введите название категорий" [(ngModel)]="temp.name" style="height:40px;border: none;"/>
                    <button class="btn" (click)="addNewCat()">Добавить</button>
                    <div class="cats-added">
                        <label *ngFor="let cat of categories; let i = index" for="">
                            {{cat.name}}
                            <i (click)="removeCat(i)" class="fa fa-minus cursor-pointer"></i>
                        </label>
                    </div>  
                </div>                
                <div class="modal-wrapper">
                    <div class="modal-btns flex-container flex-center">
                        <button class="mm-btn mm-btn-default" (click)="close()">Отмена</button>
                        <button class="mm-btn mm-btn-primary" (click)="createCategory()">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
