<div class="main-container home-container">

	<h3 class="text-center">Прайс-лист</h3>
	<div class="row">
		<div class="col-xs-6">
			Загрузите прайс-лист в систему одним кликом!<br/>
			Шаблон для заполнения можно скачать  <a href="./assets/price_list.xlsx">отсюда</a>
		</div>
		<div class="col-xs-6 search-container">
			<label>Введите название товара или артикул, чтобы найти нужный товар</label>
			<input
				type="text"
				class="mm-input"
				placeholder="поиск товара"
				[(ngModel)]="searchQuery" />
			<!-- <button
				class="mm-btn mm-btn-default"
		  	(click)="onSearchProduct($event)">Поиск</button> -->
		</div>
	</div>
	<div class="row" id="productsPrintContent">
		<div class="col-xs-2">
			<div>
				<p class="block-header">ТОВАРНАЯ ГРУППА</p>
				<div class="list-group product-category-list no-print">
				  <button type="button" class="list-group-item"
				  	[class.active]="selectedCategory === null"
				  	(click)="onSelectCategory(null)">Все продукты</button>
				  <button type="button" class="list-group-item"
				  	*ngFor="let cat of companyCategories"
				  	[class.active]="selectedCategory !== null && selectedCategory.category.id === cat.category.id"
		      	name="categories"
			      (click)="onSelectCategory(cat)">{{cat.category.name}}</button>
				</div>
			</div>
		</div>
		<div class="col-xs-10">

			<table class="table table-striped products-table price-l-table" [class.loading]="loading">
				<thead>
					<tr>
						<th class="sortable-field"
						(click)="handleSortField('article')">АРТИКУЛ&nbsp;
							<i class="fa fa-sort" aria-hidden="true"
							*ngIf="sortField==='article'"></i>
						</th>
						<th class="sortable-field"
						(click)="handleSortField('name')">ТОВАР&nbsp;
							<i class="fa fa-sort" aria-hidden="true"
							*ngIf="sortField==='name'">
							</i>
						</th>
						<th>ПРОИЗВОД.</th>
						<th>ЕД.ИЗМЕРЕНИЯ</th>
						<th>ЦЕНА</th>
						<th class="sortable-field"
						(click)="handleSortField('category')">КАТЕГОРИЯ&nbsp;
							<i class="fa fa-sort" aria-hidden="true"
							*ngIf="sortField==='category'"></i>
						</th>
						<th class="text-center">Наличие товара</th>
						<th class="text-center no-print">ОТМЕТКА
							<label class="mm-control mm-control--checkbox text-center">
					      <input type="checkbox"
					      	(change)="selectAllProducts()"
					      	[(ngModel)]="allSelected" />
					      <div class="mm-control__indicator"></div>
					    </label>
						</th>
					</tr>
				</thead>
				<tbody (scroll)="onScroll($event)">
					<tr *ngIf="!loading && products.length === 0" class="empty-table">
						<span>У Вас нет товаров</span>
					</tr>
					<tr *ngFor="let product of products | searchPipe: 'name': searchQuery | sortBy: sortField : sortOrder">
						<td (click)="onClickProduct(product)">{{product.article }}</td>
						<td (click)="onClickProduct(product)">{{product.name}}</td>
						<td (click)="onClickProduct(product)">{{product.made_in}}</td>
						<td (click)="onClickProduct(product)">{{product.nomenclature}}</td>
						<td (click)="onClickProduct(product)">
							{{product.price|number: '1.2-2'}}
						</td>
						<td (click)="onClickProduct(product)">{{product.category}}</td>
						<td class="text-center">
							<label class="switch no-print">
							  <input type="checkbox"
							  	[(ngModel)]="product.in_sale"
				      		(change)="changeProductSale(product)" />
							  <div class="slider round"></div>
							</label>
							<label class="show-print">
								{{(product.in_sale)?'есть':'нет'}}
							</label>
						</td>
						<td class="text-center no-print">
							<label class="mm-control mm-control--checkbox text-center">
					      <input type="checkbox"
					      		[(ngModel)]="product.checked" />
					      <div class="mm-control__indicator"></div>
					    </label>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="flex-container flex-between price-btns-container no-print">
				<button class="mm-btn mm-btn-primary" (click)="onAddNewProduct()">Добавить товар</button>
				<button class="mm-btn mm-btn-default" (click)="onOpenImportModal()">Импорт из Excell</button>
				<button class="mm-btn mm-btn-default" (click)="exportExcell()">Экспорт в Excell</button>
				<button class="mm-btn mm-btn-default" (click)="printProducts()">Печать</button>
				<button class="mm-btn mm-btn-danger" (click)="clickDeleteBtn()">Удалить</button>
			</div>
		</div>
	</div>
</div>

<div bsModal #modalImportPrice="bs-modal"
	class="modal fade modal-small modal-import-price">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
  		<div class="modal-body">
		  	<span class="modal-close"
		  				(click)="onCloseImportModal()">
		  		<i class="fa fa-times" aria-hidden="true"></i>
		  	</span>
		  	<h3 class="modal-title text-center">Импорт прайс-листа</h3>
		  	<div class="modal-wrapper text-center">
		    	<div class="select-cat-block">
			    	<label>Категория</label>
			    	<div class="mm-select">
							<select [(ngModel)]="uploadCategory" (ngModelChange)="onSelectFileCategory($event)">
								<option *ngFor="let cat of companyCategories" [ngValue]="cat.category.id">
							    <span class="badge">{{cat.category.name}}</span>
							  </option>
							</select>
							<div class="select__arrow"></div>
			    	</div>
		    	</div>
		    	<p></p>
		    	<p class="text-center">Если у вас еще нет формы прайс-листа, то <a href="./assets/price_list.xlsx">скачайте ее</a></p>
		    	<div class="flex-vertical" *ngIf="fileChooserInit">
		    		<label class="mm-btn-link btn-file">
					    Выберите прайс-лист на вашем компьютере
					    <input type="file" style="display: none;" (change)="onSelectFile($event)">
						</label>
						<i *ngIf="fileSelected" class="fa fa-check" aria-hidden="true"
							tooltip="файл выбран"
							tooltipPlacement="right"></i>
					</div>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-primary" (click)="uploadPriceList()">Загрузить </button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalAddProduct="bs-modal"
	class="modal fade modal-add-product">
	<div class="modal-dialog">
    <div class="modal-content">
    	<div *ngIf="addLoading" class="modal-body">
    		<div class="loader-component">
    			<div class="loader"></div>
    		</div>
    	</div>
  		<div class="modal-body" *ngIf="!addLoading">
		  	<span class="modal-close"
		  				(click)="onCloseAddProduct()">
		  		<i class="fa fa-times" aria-hidden="true"></i>
		  	</span>
		  	<h3 class="modal-title text-center">Добавление товара</h3>
		    <div class="add-product-form">
					<div class="side">
						<div class="form-field">
							<label>Название*</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="newProduct.name" required />
						</div>
						<div class="form-field">
							<label>Артикул</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="newProduct.article" />
						</div>
						<div class="form-field">
							<label>Цена*</label>
							<input type="number" class="mm-input" maxlength="300" min="0"
								[(ngModel)]="newProduct.price" />
						</div>
						<div class="form-field">
							<label>Ед. измер.*</label>
							<input style="font-size: 16px;" type="text" class="mm-input" maxlength="300"
								[(ngModel)]="newProduct.nomenclature" required/>
						</div>
						<div class="form-field">
							<label>1C*</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="newProduct.id_1c" />
						</div>
						<div class="form-field">
			    		<label>Фото</label>
			    		<label class="mm-btn mm-btn-link btn-file">
						    <span>{{productImageText}}</span>
					        <input id="custom-input" type="file" (change)="onSelectImage($event)">
						</label>
						</div>
					</div>

					<div class="side">
						<div class="form-field">
				    	<label>Категория*</label>
				    	<div class="mm-select">
								<select [(ngModel)]="newProduct.category_id" >
									<option *ngFor="let cat of companyCategories" [ngValue]="cat.category.id">
								    <span class="badge">{{cat.category.name}}</span>
								  </option>
								</select>
								<div class="select__arrow"></div>
				    	</div>
						</div>
						<div class="form-field">
							<label>Производ.</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="newProduct.made_in" />
						</div>
						<div class="form-field">
							<label style="text-align: left;">Мин. остаток</label>
							<input style="font-size: 16px;" type="number" class="mm-input" maxlength="10000" min="0"
								[(ngModel)]="newProduct.min_left" />
						</div>
						<div class="form-field">
							<label>Штрих код</label>
							<input type="text" class="mm-input" maxlength="48"
								[(ngModel)]="newProduct.barcode" />
						</div>
						<div class="form-field">
							<label>Описание</label>
							<button class="mm-btn mm-btn-link" (click)="modalAddProductDesc.show()">добавить описание</button>
						</div>
					</div>
				</div>
				<div *ngIf="loadingImage" class="loader-component">
					<div class="loader"></div>
				</div>
				<h5 *ngIf="imageSelected">
					Для хорошего отображения картинки товара, выберите картинку размера не меньше 600x600 пикселей. <br/>
					<b [class]="chosenImage.validationClass" *ngIf="!isCrop">Размер текущей картинки: {{chosenImage.width}}x{{chosenImage.height}} пикселей.</b>
					<b [class]="chosenImage.validationClass" *ngIf="isCrop">Размер текущей обрезанной картинки: {{croppedWidth}}x{{croppedHeight}} пикселей.</b> 
				</h5>
				<div class="product-preview-container img-preview" *ngIf="imageSelected&&!loadingImage&&!isCrop">
					<img [src]="chosenImage.full">
					<span class="delete-img-btn"
						(click)="deleteSelectedImage()">
						<i class="fa fa-times"
							aria-hidden="true"></i>
					</span>
				</div>
				<div class="product-preview-container" [class.display-none]="!isCrop" *ngIf="imageSelected">
					<span *ngIf="imageSelected">
						<img-cropper (onCrop)="cropped($event)" #cropper [image]="nProductImage" [settings]="cropperSettings"></img-cropper>
					</span>
					<!-- <span class="result rounded" *ngIf="nProductImage.image">
				    <img style="position: absolute; top: -90px; right: 100px;" [src]="nProductImage.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
					</span> -->
					<span class="delete-img-btn"
						(click)="deleteSelectedImage()"
						*ngIf="imageSelected">
						<i class="fa fa-times"
							aria-hidden="true"></i>
					</span>
				</div>
				<div class="flex-container flex-end product-btns">
					<button class="mm-btn mm-btn-default"
						*ngIf="imageSelected&&!isCrop"
						(click)="isCrop=true">
						Обрезать картинку
					</button>
					<button 
						class="mm-btn mm-btn-default"
						*ngIf="imageSelected&&isCrop"
						(click)="isCrop=false">
						Отменить обрезку
					</button>
					<button class="mm-btn mm-btn-primary"
						(click)="checkImage()"
						[disabled]="addLoading">Добавить</button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalEditProduct="bs-modal"
	class="modal fade modal-add-product">
	<div class="modal-dialog">
    <div class="modal-content">
    	<div *ngIf="addLoading" class="modal-body">
    		<div class="loader-component">
    			<div class="loader"></div>
    		</div>
    	</div>
  		<div class="modal-body" *ngIf="!addLoading">
		  	<span class="modal-close"
		  				(click)="onCloseEditProduct()">
		  		<i class="fa fa-times" aria-hidden="true"></i>
		  	</span>
		  	<h3 class="modal-title text-center">Редактирование товара</h3>
		    <div class="add-product-form">
					<div class="side">
						<div class="form-field">
							<label>Название</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="selectedProduct.name"/>
						</div>
						<div class="form-field">
							<label>Артикул</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="selectedProduct.article" />
						</div>
						<div class="form-field">
							<label>Цена</label>
							<input type="number" class="mm-input" maxlength="300" min="0"
								[(ngModel)]="selectedProduct.price" />
						</div>
						<div class="form-field">
							<label>Ед. измер.</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="selectedProduct.nomenclature"/>
						</div>
						<div class="form-field">
							<label>1C</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="selectedProduct.id_1c" />
						</div>
						<div class="form-field">
			    		<label>Рисунок</label>
			    		<label class="mm-btn mm-btn-link">
						    <span>{{productImageText}}</span>
						    <input id = "custom-input" type="file" style="display: none;"
						    (change)="onSelectImage($event)">
						</label>
						</div>
					</div>

					<div class="side">
						<div class="form-field">
				    	<label>Категория</label>
				    	<div class="mm-select">
								<select [(ngModel)]="selectedProduct.category_id" (ngModelChange)="onSelectNewCategory($event)">
									<option *ngFor="let cat of companyCategories" [ngValue]="cat.category.id" >
								    <span class="badge">{{cat.category.name}}</span>
								  </option>
								</select>
								<div class="select__arrow"></div>
				    	</div>
						</div>
						<div class="form-field">
							<label>Производ.</label>
							<input type="text" class="mm-input" maxlength="300"
								[(ngModel)]="selectedProduct.made_in" />
						</div>
						<div class="form-field">
							<label style="text-align: left;">Мин. остаток</label>
							<input style="font-size: 16px;" type="number" class="mm-input" maxlength="10000" min="0"
								[(ngModel)]="selectedProduct.min_left" />
						</div>
						<div class="form-field">
							<label>Штрих код</label>
							<input type="text" class="mm-input" maxlength="48"
								[(ngModel)]="selectedProduct.barcode" />
						</div>
						<div class="form-field">
							<label>Описание</label>
							<button class="mm-btn mm-btn-link" (click)="modalEditProductDesc.show()">изменить описание</button>
							<!-- <div [froalaEditor]>Hello, Froala!</div> -->
						</div>
					</div>
				</div>
				<div *ngIf="loadingImage" class="loader-component">
					<div class="loader"></div>
				</div>
				<h5 *ngIf="imageSelected">
					Для хорошего отображения картинки товара, выберите картинку размера не меньше 600x600 пикселей. <br/>
					<b [class]="chosenImage.validationClass" *ngIf="!isCrop">Размер текущей картинки: {{chosenImage.width}}x{{chosenImage.height}} пикселей.</b>
					<b [class]="chosenImage.validationClass" *ngIf="isCrop">Размер текущей обрезанной картинки: {{croppedWidth}}x{{croppedHeight}} пикселей.</b> 
				</h5>
				<div class="product-preview-container" *ngIf="(selectedImage !== null)&&!imageSelected">
					<img *ngIf="selectedImage !== null"
						[src]="selectedImage"
						class="product-preview">
					<span class="delete-img-btn"
						(click)="deleteProductImage()"
						*ngIf="selectedImage !== null && selectedImage !== ''">
						<i class="fa fa-times"
							aria-hidden="true"></i>
					</span>
				</div>
				<div class="product-preview-container img-preview" *ngIf="imageSelected&&!loadingImage&&!isCrop">
					<img [src]="chosenImage.full">
					<span class="delete-img-btn"
						(click)="deleteSelectedImage()"
						*ngIf="selectedImage !== null && selectedImage !== ''">
						<i class="fa fa-times"
							aria-hidden="true"></i>
					</span>
				</div>
				<div class="product-preview-container" 
					[class.display-none]="!isCrop"
					*ngIf="imageSelected">
					<span>
						<img-cropper (onCrop)="cropped($event)" #cropper2 [image]="sProductImage" [settings]="cropperSettings"></img-cropper>
					</span>
					<span class="delete-img-btn"
						(click)="deleteSelectedImage()"
						*ngIf="imageSelected">
						<i class="fa fa-times"
							aria-hidden="true"></i>
					</span>
				</div>
				<!-- <div class="flex-container flex-around result rounded" *ngIf="imageSelected&&sProductImage.image">
					<span>Предварительный просмотр</span>
			    <img style="" [src]="sProductImage.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
				</div> -->
				<div class="flex-container flex-end product-btns">
					<button class="mm-btn mm-btn-default"
						*ngIf="imageSelected&&!isCrop"
						(click)="isCrop=true">
						Обрезать картинку
					</button>
					<button 
						class="mm-btn mm-btn-default"
						*ngIf="imageSelected&&isCrop"
						(click)="isCrop=false">
						Отменить обрезку
					</button>
					<button class="mm-btn mm-btn-primary" (click)="checkImage()">Сохранить товар</button>
				</div>

			</div>
		</div>
  </div>
</div>

<div bsModal #modalAddProductDesc="bs-modal"
	class="modal fade modal-add-product-desc">
	<div class="modal-dialog">
    <div class="modal-content">
  		<div class="modal-body">

		  	<h3 class="modal-title text-center">Описание товара</h3>
		  	<div class="modal-wrapper">
		    	<textarea maxlength="1000"
		    		style='height: 200px;'
		    		[(ngModel)]="newProduct.description" class="form-control">
		    	</textarea>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="modalAddProductDesc.hide()">Отмена</button>
					<button class="mm-btn mm-btn-primary" (click)="modalAddProductDesc.hide()">Добавить</button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalEditProductDesc="bs-modal"
	class="modal fade modal-edit-product-desc">
	<div class="modal-dialog">
    <div class="modal-content">
  		<div class="modal-body">

		  	<h3 class="modal-title text-center">Описание товара</h3>
		  	<div class="modal-wrapper">
		    	<textarea
		    		style='height: 200px;' maxlength = "999"
		    		[(ngModel)]="selectedProduct.description" class="form-control">
		    	</textarea>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="modalEditProductDesc.hide()">Отмена</button>
					<button class="mm-btn mm-btn-primary" (click)="modalEditProductDesc.hide()">Добавить</button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalProductAdded="bs-modal"
	class="modal fade modal-small modal-product-added">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
  		<div class="modal-body">

		  	<h3 class="modal-title text-center">Товар успешно добавлен.</h3>
		  	<div class="modal-wrapper">
		    	<p class="text-center">Хотите добавить еще?</p>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="modalProductAdded.hide()">Нет, спасибо</button>
					<button class="mm-btn mm-btn-primary" (click)="modalProductAdded.hide(); modalAddProduct.show()">Добавить</button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalDeleteProduct="bs-modal"
	class="modal fade modal-small modal-delete-product">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
  		<div class="modal-body">

		  	<h3 class="modal-title text-center">Вы уверены, что хотите удалить выбранные товары?</h3>
		  	<div class="modal-wrapper">
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="modalDeleteProduct.hide()">Отмена</button>
					<button class="mm-btn mm-btn-danger" (click)="removeProducts()">Удалить</button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalCheckImage="bs-modal"
	class="modal fade modal-small modal-delete-product">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
  		<div class="modal-body">

		  	<h3 class="modal-title text-center">Выбранная картинка  будет плохо отображатся. Минимальный размер 600x600 пикселей. </h3>
		  	<div class="modal-wrapper">
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="hideCheckImage()">Изменить картинку</button>
					<button class="mm-btn mm-btn-danger" (click)="continueAddUpdate()">Продолжить</button>
				</div>
			</div>
		</div>
  </div>
</div>
