<div class="main-container home-container">

	<h3 class="text-center">Лицевой счет компании</h3>

	<div class="components-block flex-vertical flex-between">
		<div>
			<b>Задать период:</b>

			<select 
				[(ngModel)]="selectedMonth" 
				(ngModelChange)="onChangeDate($event)" >
				<option [ngValue]="1">Январь</option>
				<option [ngValue]="2">Февраль</option>
				<option [ngValue]="3">Март</option>
				<option [ngValue]="4">Апрель</option>
				<option [ngValue]="5">Май</option>
				<option [ngValue]="6">Июнь</option>
				<option [ngValue]="7">Июль</option>
				<option [ngValue]="8">Август</option>
				<option [ngValue]="9">Сентябрь</option>
				<option [ngValue]="10">Октябрь</option>
				<option [ngValue]="11">Ноябрь</option>
				<option [ngValue]="12">Декабрь</option>
			</select>

			<select 
				[(ngModel)]="selectedYear"
				(ngModelChange)="onChangeDate($event)">
				<option 
						*ngFor="let year of years" 
						[ngValue]="year">
			    <span class="badge">{{year}}</span>
			  </option>
			</select>
		
		</div>
		<div class="no-print">
			<button class="mm-btn mm-btn-default"
							(click)="getAccounts()">Обновить</button>
			<button class="mm-btn mm-btn-default"
							(click)="onPrintAccounts()">Печать</button>
			<button class="mm-btn mm-btn-default"
							(click)="onPrintPayment()">Сформировать счет на оплату</button>
		</div>
	</div>

	<div id="accountsPrintContent">

		<p class="account-info-text show-print">На период: <span>{{selectedMonth}}/{{ selectedYear }}</span></p>
		<p class="account-info-text">Сальдо на начало: <span>{{ startSaldo|number: '1.2-2' }}</span> тенге</p>
		<p class="account-info-text">Сальдо на конец: <span>{{ endSaldo|number: '1.2-2' }}</span> тенге</p>
		<p class="account-info-text">Оборот: <span>{{ allCredits|number: '1.2-2' }}</span> тенге</p>

		<table class="table table-striped account-table"
			[class.loading]="loading"> 
			<thead> 
				<tr> 
					<th rowspan="2">Дата</th> 
					<th rowspan="2">Основание</th> 
					<th rowspan="2">Платеж</th> 
					<th colspan="4">Комиссия по акциям</th> 
					<th rowspan="2">Комисия по заявке</th>
					<th rowspan="2">ДБ покупателя</th>
					<th rowspan="2">Итого расходы</th> 
					<th rowspan="2">Сальдо</th> 
				</tr> 
				<tr>
					<th>новые</th>
		     	<th>скидка</th>
		     	<th>ден. бонус</th>
		     	<th>тов. бонус</th>
		    </tr>
			</thead> 
			<tbody> 
				<tr *ngFor="let item of accountsData"> 
					<td>{{item.date}}</td> 
					<td> 
						<span *ngIf="item.debet !== '' && item.debet !== 0">платеж</span>
						<span *ngIf="item.debet === '' || item.debet === 0">
							по заявке {{item.requestID}} на сумму {{item.totalPrice|number: '1.2-2'}} тенге
						</span>
					</td> 
					<td>{{item.debet| number: '1.2-2'}}</td> 
					<td>{{item.news| number: '1.2-2'}}</td>
					<td>{{item.discount| number: '1.2-2'}}</td>
					<td>{{item.bonusMoney| number: '1.2-2'}}</td>
					<td>{{item.bonusItem| number: '1.2-2'}}</td>
					<td>{{item.reqMoney| number: '1.2-2'}}</td>
					<td>{{item.customerBonus| number: '1.2-2'}}</td>
					<td>{{item.credit| number: '1.2-2'}}</td>
					<td>{{item.saldo| number: '1.2-2'}}</td> 
				</tr> 
			</tbody> 
		</table>
	</div>

</div>


<div id="paymentPrintContent" class="payment-print-doc" style="display: none">
	<h4>Счет на оплату от {{ currentDate }}</h4>

	<p><b>Поставщик:</b></p>
	<p>Товарищества с ограниченной ответсвенностью "Pupil"</p>
	<p>БИН: 070340028181</p>
	<p>г.Алматы, пр. Достык д 132, к.п. 75</p>
	<p>Банк бенефициара: ДБ АО "Сбербанк" г. Алматы</p>
	<p>БИК: SABRKZKA</p>
	<p>р\с: KZ31 9140 0220 3KZ0 04XA</p>
	<p>Кбе 17</p>
	<p>Код назначения платежа:</p>
	<br/>
	<p><b>Покупатель:</b></p>
	<p>{{userCompany.name}}</p>
	<p>БИН {{userCompany.tin}}</p>
	<br/>
	<table class="table">
		<thead>
			<th>№</th>
			<th>Наименование</th>
			<th>Сумма</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Оплата на лицевой счет {{userCompany.id}}</td>
				<td>{{posTurnover | number: '1.2-2'}}</td>
			</tr>
		</tbody>
	</table>
	<br/>
	<p><b>Итого:</b> {{posTurnover | number: '1.2-2'}} тенге</p>
	<br/>
	<!-- <p><b>Всего к оплате: {{posTurnover}}</b></p> -->
</div>