<div class="navbar-wrapper" *ngIf="this.auth.checkAuth() && this.auth.checkRegister() == 2">
	<div class="main-container flex-container navbar-container">
		<div class="flex-vertical flex-start">
			<ul class="navbar-nav">
				<li *ngIf="this.auth.perms.requests"><a [routerLink]="['/proposals']"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}"
            class="menu-item">Заявки<!--span i18n>proposals_link</span--> <!-- <span class="circle">14</span> --></a>
        </li>
		    <li *ngIf="this.auth.perms.discounts"><a [routerLink]="['/promotions']"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}"
            class="menu-item">Акции и скидки<!--span i18n>promotions_link</span--> <!-- <span class="circle">11</span> --></a>
        </li>
		    <li *ngIf="this.auth.perms.pricelist"><a [routerLink]="['/products']"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}"
            class="menu-item">Прайс-лист<!--span i18n>prices_link</span--></a>
        </li>
        <li *ngIf="this.auth.perms.staff"><a [routerLink]="['/employees']"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}"
            class="menu-item">Сотрудники<!--span i18n>employees_link</span--></a>
        </li>
		    <!-- <li><a [routerLink]="['/customers']"
            [routerLinkActive]="['is-active']"
            [routerLinkActiveOptions]="{exact:true}"
            class="menu-item"><span i18n>customers_link</span></a>
        </li> -->
			</ul>
		</div>
		<div class="flex-vertical flex-end navbar-buttons">

			<div class="dropdown navbar-d" dropdown
        *ngIf="this.auth.perms.company">
        <button dropdownToggle class="dropdown-btn navbar-d-btn btn-space-right">
          <span>Компания</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu navbar-d-menu">
          <li>
            <button class="dropdown-btn navbar-d-btn">
              <span>Компания</span>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
            </button>
          </li>
          <li><a [routerLink]="['/account']" >Лицевой счет</a></li>
					<li><a [routerLink]="['/blacklist']" >Черный список</a></li>
          <!-- <li><a [routerLink]="['/invoices']" >Счет-фактуры</a></li> -->
          <li><a [routerLink]="['/notifications']" >Уведомления</a></li>
        </ul>
    	</div>

    	<div class="dropdown navbar-d mr-4" dropdown
        *ngIf="this.auth.perms.settings">
        <button dropdownToggle class="dropdown-btn navbar-d-btn">
          <span>Настройки</span>
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu navbar-d-menu">
          <li>
            <button class="dropdown-btn navbar-d-btn">
              <span>Настройки</span>
              <i class="fa fa-caret-up" aria-hidden="true"></i>
            </button>
          </li>
          <li class="dropdown-header">Компания:</li>
          <li><a [routerLink]="['/company_info']">Профиль</a></li>
          <li><a [routerLink]="['/company_region']">Регионы</a></li>
          <li><a [routerLink]="['/company_category']">Категории</a></li>
          <!-- <li class="dropdown-header">Безопасность:</li> -->
          <!-- <li><a [routerLink]="['/blacklist']">Черный список</a></li> -->
          <li class="dropdown-header">История:</li>
          <li><a [routerLink]="['/price_history']">В прайс-листе</a></li>
          <li><a [routerLink]="['/request_history']">В заявках</a></li>
        </ul>
    	</div>
      <app-entries-dropdown></app-entries-dropdown>
		</div>
	</div>
</div>
