.delegate-table {
    width: 100%;
    border-spacing: 0;
}

.delegate-table thead, 
.delegate-table tbody, 
.delegate-table tr, 
.delegate-table th, 
.delegate-table td { display: block; }

.delegate-table thead tr {
    width: 97%;
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

.delegate-table tr:after { 
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.delegate-table tbody {
    height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
}

.delegate-table tbody td, 
.delegate-table thead th {
    width: 18%;
    float: left;
}

.delegate-table tbody td:first-child, 
.delegate-table thead th:first-child {
  width: 10%;
}
