<div class="main-container home-container">

	<h3 class="text-center">Заявка № {{id}} от {{proposalDate}}</h3>
	<div id="proposalPrintContent">
		<div class="row proposal-info-block" *ngIf="proposal !== null">
			<div class="col-xs-6">
				<div class="proposal-info-field">
					<b>Заказчик:</b>
					<span>{{proposal.customer.name}}</span>
				</div>
				<div class="proposal-info-field">
					<b>Юридическое лицо:</b>
					<span>{{proposal.customer.official_name}}</span>
				</div>
				<div class="proposal-info-field">
					<b>БИН:</b>
					<span>{{proposal.customer.tin}}</span>
				</div>
				<div class="proposal-info-field"><b>Адрес:</b>
					<span>
						{{proposal.customer.district.region.name}},
						{{proposal.customer.district.name}},
						{{proposal.customer.address}}
					</span>
				</div>
				<div class="proposal-info-field">
					<b>Телефон:</b>
					<span>{{proposal.customer.mobile_phone}}</span>
				</div>
				<div class="proposal-info-field">
					<b>Контактное лицо:</b>
					<span>{{proposal.customer.contact_person}}</span>
				</div>
				<div class="proposal-info-field no-print">
					<b>Статус:</b>
					<span
						[class.customer-trust-status]="proposal.relation === 1"
						[class.customer-new-status]="proposal.relation === 0"
					>{{getRelationText(proposal.relation)}}</span>
					<span (click)="onSetCustomerStatus()"
								class="set-status-btn"
								>Изменить статус</span>
				</div>
				<div class="proposal-info-field" *ngIf="proposal.customer.approved">
					<b class="approved-text">Покупатель проверен Dukender</b>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="proposal-info-field">
					<b>Дата поставки:</b>
					<div class="datetime-container">
						<span *ngIf="mode === 'read'" class="delivery-date-text no-print">{{deliveryDateText}}</span>
						<span class="delivery-date-text print-only">{{deliveryDateText}}</span>
				    <my-date-picker
				    	*ngIf="mode === 'edit'"
				    	class="change-date-picker no-print"
				    	[options]="myDatePickerOptions"
				     	(dateChanged)="onDateChanged($event)"
				     	[locale]="locale"
				     	[selDate]="selDate" ></my-date-picker>
					</div>
				</div>
				<div class="proposal-info-field"><b>Статус:</b> {{proposal.status_display}}</div>
				<div class="proposal-info-field">
					<b>Код:</b>
					<span *ngIf="proposal !== null && proposal.key !== undefined && proposal.status === 2">
						{{proposal.key}}
					</span>
				</div>
				<div class="proposal-info-field no-print">
					<a class="ban-customer-link"
						(click)="modalBanCustomer.show()">Внести покупателя в чёрный список</a>
				</div>
				<div class="proposal-info-field no-print">
					<b>Изменения в товарах </b>
					<span (click)="modalChanges.show()"
								class="set-status-btn"
								>Показать</span>
				</div>
				<div class="proposal-info-field">
					<b (click)="modalId1c.show()" class="set-status-btn">БИН по бухучету:</b>
					<span>{{proposal.relation_full.id_1c}}</span>
				</div>
				<div class="proposal-info-field">
					<b (click)="modalName1c.show()" class="set-status-btn">Название по бухучету:</b>
					<span>{{proposal.relation_full.name_1c}}</span>
				</div>
				<div class="proposal-info-field">
					<b (click)="modalInfo.show()" class="set-status-btn">Дополнительная информация:</b>
					<span>{{relation.short_info}}</span>
				</div>
			</div>
		</div>
		<div class="search-container no-print">
			<input
				type="text"
				class="mm-input"
				placeholder="поиск товара"
				[(ngModel)]="searchQuery" />
		</div>

		<table class="table table-striped proposal-table">
			<thead>
				<tr>
					<th>ТОВАР</th>
					<th>Акции</th>
					<th>ЕД.ИЗМ</th>
					<th>КОЛ-ВО</th>
					<th>ЦЕНА</th>
					<th>СУММА</th>
					<th *ngIf="mode === 'edit'" class="no-print"></th>
				</tr>
			</thead>
			<tbody *ngIf="proposalItems !== null" class="{{proposalBodyClass}}">
				<tr *ngFor="let item of proposalItems | searchPipe: 'name': searchQuery">
					<td (click)="onShowItemOldData(item)">
						<span class="removed-item" *ngIf="item.removed">{{item.removed}} {{item.name}}</span>
						<span *ngIf="!item.removed"> {{item.name}}</span>
					</td>
					<td>
						<i class="prom-icon"
							title="скидка"
							*ngIf="item.action_discount_active"
							aria-hidden="true">%</i>
						<i class="prom-icon"
							title="денежный бонус"
							*ngIf="item.action_bonus_money_active"
							aria-hidden="true">ДБ</i>
						<i class="prom-icon"
							title="товарный бонус"
							*ngIf="item.action_bonus_item_active"
							aria-hidden="true">ТБ</i>
						<i class="prom-icon"
							title="новая акция"
							*ngIf="item.action_news_active"
							aria-hidden="true">Н</i>
					</td>
					<td>{{item.nomenclature}}</td>
					<td>
						<span *ngIf="mode === 'read'" class="no-print">{{item.count}}</span>
						<span class="print-only">{{item.count}}</span>
						<input 	type="number"
										value="{{item.count}}"
										min='1'
										class="mm-input-number input-mini no-print"
										[(ngModel)]="item.count"
										[disabled]="item.removed"
										(ngModelChange)="onChange($event, item)"
										*ngIf="mode === 'edit'"/>
						<span *ngIf="item.item_info&&item.item_info.action_bonus_item_active"
							class="label label-primary">
							+{{this.Math.trunc(item.count / item.item_info.for_count * item.item_info.bonus_count)}}
						</span>
					</td>
					<td>
						<span >{{item.price | number: '1.2-2'}}</span>
						<!-- <span *ngIf="!item.item_info.action_discount_active">{{item.price}} / {{item.item_info.item_info.price}}</span> -->
					</td>
					<td>
						<span>{{item.count * item.price | number: '1.2-2'}}</span>
					</td>
					<td *ngIf="mode === 'edit'" class="no-print">
						<span class="remove-proposal-span"
									*ngIf="!item.removed"
									(click)="removeProposalItem(item)">Удалить</span>
						<span class="return-proposal-span"
									*ngIf="item.removed"
									(click)="returnProposalItem(item)">Восстановить</span>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
				  <td><b>Итого:</b> <span class="total-price pull-right"><b>{{itemsTotalSum | number: '1.2-2'}}</b></span></td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="flex-container flex-start comments-block">
		<div class="comment-label">Комментарии:</div>
		<div class="comments-container" *ngIf="proposal !== null && proposal.comments !== []">
			<div class="comments-wrapper">
				<div class="flex-container flex-start comment-block"
						*ngFor="let item of proposal.comments">
					<div class="comment-author">{{item.user}}: &nbsp;</div>
					<div class="comment-text">{{item.comment}}</div>
				</div>
			</div>
			<div class="comment-form">
				<div class="mm-input-with-btn">
	        <input type="text" class="mm-input"
	        	placeholder="оставить коммент"
	        	[(ngModel)]="newComment"
	          (keydown)="onCommentEnter($event)"/>
	        <span class="waves-effect waves-light btn" (click)="addComment()">
	        	<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
	        </span>
	      </div>
	      <button class="btn btn-default btn-circle update-btn"
	      				(click)="updateComments()" title="Обновить комментарии">
	      	<i class="fa fa-refresh" aria-hidden="true"></i>
	      </button>
			</div>
		</div>
	</div>

	<div class="btns-container flex-container flex-between">
		<div *ngIf="proposal !== null">
			<button class="mm-btn mm-btn-primary btn-space-right"
							(click)="onChangeProposal()"
							*ngIf="proposal.status === 0">Принять в работу</button>
			<button class="mm-btn mm-btn-default btn-space-right"
							(click)="onSaveProposal(true)"
							*ngIf="mode === 'edit'"
							[disabled]="editMode">На согласование</button>
			<button class="mm-btn mm-btn-primary btn-space-right"
							(click)="onExecuteProposal()"
							*ngIf="mode === 'edit'"
							[disabled]="!editMode">Исполнить</button>
			<button class="mm-btn mm-btn-danger "
							(click)="modalDeleteProposal.show()"
							*ngIf="mode === 'edit'||delete">Удалить заявку</button>
			<button class="mm-btn mm-btn-primary btn-space-right"
							*ngIf="canPerform"
							(click)="modalPerformProposal.show()">Завершить</button>
			<button class="mm-btn mm-btn-default btn-space-right"
							(click)="onPrintProposal()">Печать</button>
			<button class="mm-btn mm-btn-default btn-space-right"
							(click)="openSendModal()"
							*ngIf="proposal.status === 2">На email</button>
			<button class="mm-btn mm-btn-default btn-space-right"
							(click)="onExportProposal()">Экспорт</button>
			<button class="mm-btn mm-btn-default"
							[routerLink]="['/proposals']">Закрыть</button>
		</div>

<!-- 			<button class="mm-btn mm-btn-default btn-space-right"
							(click)="onPrintProposal()"
							*ngIf="proposal.status === 2 || proposal.status === 3">Печать</button> -->
<!-- 			<button class="mm-btn mm-btn-default btn-space-right"
							(click)="onSaveProposal(false)"
							[disabled]="editMode">Сохранить</button> -->
<!-- 			<button class="mm-btn mm-btn-default"
							(click)="onExecuteProposal()"
							[disabled]="!executeMode && proposal.status === 4">Исполнить</button> -->
	</div>
</div>

<div bsModal #modalBanCustomer="bs-modal"
	class="modal fade modal-small modal-ban-customer">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
		  <div class="modal-body" *ngIf="proposal !== null">
		  	<div class="modal-wrapper">
		    	<p class="text-center">Вы уверены, что хотите отнести покупателя <b>{{proposal.customer.name}}</b> в чёрный список?</p>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="modalBanCustomer.hide()">Отмена</button>
					<button class="mm-btn mm-btn-danger" (click)="banCustomer()">Да</button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalEnterEmail="bs-modal"
	class="modal fade modal-small modal-enter-email">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
		  <div class="modal-body">

		  	<span class="modal-close"
						(click)="modalEnterEmail.hide()">
				<i class="fa fa-times" aria-hidden="true"></i>
		  	</span>
		  	<h4 class="modal-title text-center">На какой email отправить</h4>
		  	<div class="modal-wrapper">
		    	<div class="text-center">
		    		<input type="text" [(ngModel)]="emailToSend" class="mm-input"/>
		    	</div>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-primary" (click)="onSendToEmail()">Отправить</button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalPrevData="bs-modal"
	class="modal fade modal-small modal-prev-customer">
	<div class="modal-dialog">
    <div class="modal-content">
		  <div class="modal-body" *ngIf="proposal !== null && itemToShow !== null">
		  	<div class="modal-wrapper">
		  		<div *ngIf="countChanged || deliveryChanged">
			  		<h3>Изменения по товару</h3>
			  		<p>В данной заявке произошли следующие изменения:</p>
			  		<p><b>{{itemToShow.name}}</b></p>
			  		<div *ngIf="deliveryChanged">
			  			<p>Изменена дата доставки</p>
			  			<p>Согласуйте дату доставки</p>
			  		</div>
			  		<div *ngIf="countChanged">
			  			<p *ngIf="itemToShow.item_info">Новое количество {{itemToShow.item_info.count}}</p>
			  			<p *ngIf="itemToShow.item_info">Старое количество {{itemToShow.item_info.prev_count}}</p>
			  		</div>
			  	</div>
			  	<div *ngIf="!countChanged && !deliveryChanged">
			  		<h3>По данному товару в заявке нет изменении</h3>
			  	</div>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default"
						(click)="modalPrevData.hide();itemToShow=null">Закрыть</button>
				</div>
			</div>
		</div>
  </div>
</div>

<div bsModal #modalChanges="bs-modal"
	class="modal fade modal-small modal-changes">
	<div class="modal-dialog">
    <div class="modal-content">
		  <div class="modal-body" *ngIf="changedItems !== null">
		  	<div class="modal-wrapper">
		  		<div *ngFor="let c of changedItems">
		  			<p><b>{{c.item}}:</b></p>
		  			<p>{{c.action_bonus_item}}</p>
        		<p>{{c.action_bonus_money}}</p>
        		<p>{{c.action_discount}}</p>
        		<p>{{c.action_news}}</p>
        		<p>{{c.price}}</p>
        		<hr />
		  		</div>
		  		<div *ngIf="changedItems?.length === 0">
		  			<span>По товарам нет изменении</span>
		  		</div>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default"
						(click)="modalChanges.hide()">Закрыть</button>
				</div>
			</div>
		</div>
  </div>
</div>

 <div bsModal #modalDeleteProposal="bs-modal"
	class="modal fade modal-small modal-delete-user">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
		  <div class="modal-body">
		  	<div class="modal-wrapper">
		    	<p class="text-center">Вы уверены, что хотите удалить заявку?</p>
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="modalDeleteProposal.hide()">Отмена</button>
					<button class="mm-btn mm-btn-danger" (click)="onRevokeProposal()">Удалить</button>
				</div>
		  </div>
		</div>
  </div>
</div>
<div bsModal #modalPerformProposal="bs-modal"
	class="modal fade modal-small modal-delete-user">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
		  <div class="modal-body">
		  	<div class="modal-wrapper text-center">
		    	<p class="text-center">Чтобы завершить заявку и назначить как исполненный, введите код заявки</p>
		    	<input class="mm-input" type="text" [(ngModel)]="confirmationKey">
		    </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="modalPerformProposal.hide()">Отмена</button>
					<button class="mm-btn mm-btn-danger" (click)="onPerformProposal()">Завершить</button>
				</div>
		  </div>
		</div>
  </div>
</div>

<div bsModal #modalId1c="bs-modal" *ngIf="proposal"
	class="modal fade modal-small modal-delete-user">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
		  <div class="modal-body">
		  	<div class="modal-wrapper">
		    	<p class="text-center">БИН по бухучету</p>
		    	<p>Для удобства дальнейшей работы, здесь Вы можете указать БИН покупателя в соответствии с бухгалтерскими данными</p>
		    </div>
		    <div class="flex-container flex-center info">
			    <input
			    	type="number"
			    	class="mm-input"
			    	placeholder="Максимум 12 знака"
			    	max="999999999999"
			    	[(ngModel)]="relation.id_1c" />
			  </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="closeInfo()">Отмена</button>
					<button class="mm-btn mm-btn-danger" (click)="saveInfo()">Сохранить</button>
				</div>
		  </div>
		</div>
  </div>
</div>

<div bsModal #modalName1c="bs-modal" *ngIf="proposal"
	class="modal fade modal-small modal-delete-user">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
		  <div class="modal-body">
		  	<div class="modal-wrapper">
		    	<p class="text-center">Название по бухучету</p>
		    	<p>Для удобства дальнейшей работы, здесь Вы можете указать название покупателя в соответствии с бухгалтерскими данными</p>
		    </div>
		    <div class="flex-container flex-center info">
			    <input
			    	type="text"
			    	class="mm-input"
			    	maxlength="20"
			    	placeholder="Максимум 20 знака"
			    	[(ngModel)]="relation.name_1c" />
			  </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="closeInfo()">Отмена</button>
					<button class="mm-btn mm-btn-danger" (click)="saveInfo()">Сохранить</button>
				</div>
		  </div>
		</div>
  </div>
</div>

<div bsModal #modalInfo="bs-modal" *ngIf="proposal"
	class="modal fade modal-small modal-delete-user">
	<div class="modal-dialog modal-sm">
    <div class="modal-content">
		  <div class="modal-body">
		  	<div class="modal-wrapper">
		    	<p class="text-center">Дополнительная информация</p>
		    	<p>Для удобства дальнейшей работы, здесь Вы можете указать дополнительные данные о покупателе</p>
		    </div>
		    <div class="flex-container flex-center info">
			    <textarea
			    	type="text"
			    	class="mm-input"
			    	rows="3"
			    	maxlength="5000"
			    	[(ngModel)]="relation.info"></textarea>
			  </div>
				<div class="modal-btns flex-container flex-center">
					<button class="mm-btn mm-btn-default" (click)="closeInfo()">Отмена</button>
					<button class="mm-btn mm-btn-danger" (click)="saveInfo()">Сохранить</button>
				</div>
		  </div>
		</div>
  </div>
</div>
