<div class="main-container home-container">

	<div>
		<h3 class="text-center">Регион продаж, категория магазина и минимальная сумма заявки</h3>

		<div class="shop-desc-list">
			<ul class="list-unstyled">
				<li><label>А - Крупный супермаркет, свыше 150м2</label></li>
				<li><label>В - Средний магазин, до 150м2</label></li>
				<li><label>С - Небольшой магазин, киоск</label></li>
				<li><label>О - Оптовый магазин</label></li>
				<li><label>H - HoReCa, кафе или ресторан</label></li>
				<li><label>P - Прочие</label></li>
			</ul>
		</div>

		<div  *ngFor="let region of companyRegions">
			<div class="region-container">
				<div class="region-select-block">
					<label>Область</label>
					<div class="flex-container flex-start">
						<div class="mm-btn mm-btn-primary btn-space-right">{{region.name}}</div>
						<div class="mm-btn mm-btn-default" (click)="onRemoveRegion(region)">Удалить</div>
					</div>
				</div>
			</div>

			<!-- <div class="backlined-text"><span>РАЙОНЫ ОБЛАСТИ</span></div> -->

			<div class="districts-container">
				<table class="table table-striped" [class.loading]="loading">
					<thead>
						<tr>
							<th>РАЙОН</th>
							<th class="text-center">Укажите регионы продаж, категории магазинов, с которыми вы сотрудничаете и минимальную сумму заявки</th>
						</tr>
					</thead>
					<tbody>

						<!-- <tr class="first-select-row">
							<td>
							</td>
							<td>
								<div class="category-block">
									<label class="mm-control mm-control--checkbox"> A
							      <input type="checkbox" (change)="checkShopCategory($event, region)"/>
							      <div class="mm-control__indicator"></div>
							    </label>
							    <input type="number" class="mm-input input-sm" />
								</div>

							</td>
						</tr> -->

						<tr *ngFor="let district of region.districts">
							<td>
								<span class="category-district">
									{{district.district.name}}
								</span>
							</td>
							<td>
								<div class="category-block">
									<label class="mm-control mm-control--checkbox"> A
							      <input type="checkbox"
							      		[(ngModel)]="district.category_A"/>
							      <div class="mm-control__indicator"></div>
							    </label>
							    <input type="number" class="mm-input input-sm"
							    				[(ngModel)]="district.a_amount"
							    				maxlength="300" />
								</div>

								<div class="category-block">
									<label class="mm-control mm-control--checkbox"> B
							      <input type="checkbox"
							      		[(ngModel)]="district.category_B"/>
							      <div class="mm-control__indicator"></div>
							    </label>
							    <input type="number" class="mm-input input-sm"
							    				[(ngModel)]="district.b_amount"
							    				maxlength="300"/>
								</div>

								<div class="category-block">
									<label class="mm-control mm-control--checkbox"> C
							      <input type="checkbox"
							      		[(ngModel)]="district.category_C"/>
							      <div class="mm-control__indicator"></div>
							    </label>
							    <input type="number" class="mm-input input-sm"
							    				[(ngModel)]="district.c_amount"
							    				maxlength="300" />
								</div>

								<div class="category-block">
									<label class="mm-control mm-control--checkbox"> O
							      <input type="checkbox"
							      		[(ngModel)]="district.category_W"/>
							      <div class="mm-control__indicator"></div>
							    </label>
							    <input type="number" class="mm-input input-sm"
							    				[(ngModel)]="district.w_amount"
							    				maxlength="300" />
								</div>

								<div class="category-block">
									<label class="mm-control mm-control--checkbox"> H
							      <input type="checkbox"
							      		[(ngModel)]="district.category_H"/>
							      <div class="mm-control__indicator"></div>
							    </label>
							    <input type="number" class="mm-input input-sm"
							    				[(ngModel)]="district.h_amount"
							    				maxlength="300" />
								</div>

								<div class="category-block">
									<label class="mm-control mm-control--checkbox"> P
							      <input type="checkbox"
							      		[(ngModel)]="district.category_P"/>
							      <div class="mm-control__indicator"></div>
							    </label>
							    <input type="number" class="mm-input input-sm"
							    				[(ngModel)]="district.p_amount"
							    				maxlength="300" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- <button class="mm-btn mm-btn-default" (click)="onAddRegion()">Добавить область</button> -->

		<div>
			<label>+ Добавить область</label>
			<div class="mm-select">
				<select [(ngModel)]="selectedRegion" (ngModelChange)="onSelectRegion($event)" class="select-elem">
					<option
							*ngFor="let region of regions"
							[ngValue]="region"
							>
				    <span class="badge">{{region.name}}</span>
				  </option>
				</select>
				<div class="select__arrow"></div>
			</div>
		</div>

		<div class="flex-container flex-center">
			<button class="mm-btn mm-btn-primary" (click)="updateCompanyRegions()">Сохранить</button>
		</div>
	</div>
  
</div>
