<div class="content">
  <div class="reset-wrapper">
    <img src="./assets/images/body-logo.png" class="reset-logo">
    <div class="reset-block">
      <h3>Забыли пароль?</h3>
      <p class="desc">Введите e-mail,  указанный при регистрации, и мы вышлем вам новый </p>
      <div class="input-with-btn">
        <input type="text" class="form-input validate"
            placeholder="электронная почта" id="user_name"
            (keydown)="onResetEnter($event)"
            [(ngModel)]="resetUser.username">
        <span class="waves-effect waves-light btn" (click)="reset()"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
      </div>
      <div class="error-wrapper">
        <p *ngFor="let error of errorMessage">{{error}}</p>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalReset="bs-modal"
  class="modal fade modal-small modal-reset">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class='modal-body'>
        <div class="modal-wrapper">
          <p class="text-center">Для вашего аккаунта в Dukender запрошен новый пароль. <p>
          <p class="text-center">Пожалуйста, проверьте вашу почту.</p>
        </div>
        <div class="modal-btns flex-container flex-center">
          <button class="mm-btn mm-btn-primary" (click)="onOkReset()">Ок</button>
        </div>
      </div>
    </div>
  </div>
</div>
